<html lang="en">

    <head>
        <link rel="stylesheet" href="/styling/about.style.css" />
    </head>

    <body>

        <h1>design bootcamp</h1>

        <h2>Welcome to the online petition!</h2>

        <p class="introduction">
            Kickstart your new career and vote for this intensive, 12-weekly
            program in user experience and interface design. Our Design Bootcamp
            you will teach you the necessary tools you need to land a job in the
            growing design and web industry.
        </p>

        <img
            class="teaser-image"
            src="/images/petition-project_teaser-image.svg"
            alt="teaser-image"
        />

        <form id="sign-section" method="POST" action="/about">
            <button class="button-no-1" type="submit">sign for the petition
                <img
                    class="icon-arrow-lightblue"
                    src="/images/petition-project_icon-arrow-lightblue.svg"
                    alt="icon-arrow-lightblue"
                /></button>
        </form>

        <h3>You have more questions before you want to sign?</h3>

        <p class="teaser">
            Visit our faq section where you will read everything you need to
            know about the online petition for the design bootcamp.
        </p>

        <form id="faq-section" method="POST" action="/faq">
            <button class="button-no-2" type="submit">read more
                <img
                    class="icon-arrow-darkblue"
                    src="/images/petition-project_icon-arrow-darkblue.svg"
                    alt="icon-arrow-darkblue"
                /></button>
        </form>

    </body>

</html>