<html lang="en">

    <head>
        <link rel="stylesheet" href="/styling/faq.style.css" />
    </head>

    <body>

        <div id="faq">

            <h2>Questions & Answers</h2>

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>What exactly is the design bootcamp?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">The design bootcamp is a fully education
                    program of 12 intense weeks in user experience and interface
                    design. You will explore the professional areas of apps,
                    websites, web design, software as well as other special
                    gadgets you need today within the interaction design fields.
                    After the program you will be able to create you own design
                    concepts, create little products and put your creative ideas
                    into action by designing interactive prototypes.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>How is the curriculum structured?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">Within the first 8 weeks you have a well
                    structured curriculum to get the basics to be able working
                    with different creative programs, such as InDesign, XD,
                    Illustrator or Photoshop. Within the last four weeks you
                    will work individually on your own projects where you can
                    implement all you have learned so far.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>Do I need any design experience before I apply?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">In general you do not need any design
                    experience because we start with the fundamental basics.
                    However, it is advisable to do some research about the
                    different UX and UI design areas in advance if you have
                    never designed before or face a completely career change.
                    The program is very tightly structured and you will benefit
                    if you have already background knowledge about current
                    trends and developments.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>How long does it take?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">The whole design bootcamp takes 12 weeks.
                    There could be a break in case of German holidays like
                    Easter or Christmas. We recommend to apply early enough
                    before the next cohort will take place because you will need
                    to do a few little design challenges to get accepted.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>Where and when will the first design bootcamp take
                        place?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">We are currently still in the development
                    process to realize the design bootcamp as soon and best as
                    possible. Therefore, we cannot give any information about
                    the exact date yet. We plan to launch the first cohort in
                    mid of 2022. All courses will be hybrid, so you can either
                    work on-site in our perfectly equipped design offices or
                    participate from home. At our main locations in Stuttgart
                    and Berlin, we also have a workshop that can be used for
                    bookbinding or screen printing, for example.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>How can I apply?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">As soon as we have gained enough signers
                    for our design bootcamp, we will launch the application
                    process on this website. You need to do a little interview
                    at first where we want to get to know each other. Here you
                    can also ask questions or find out if the program fits to
                    you and your aimed profile. After the interview we will send
                    you the design challenge as preliminary work. This could
                    take you up to two weeks of implementation. After we have
                    received your concepts, we will screen them and decide if
                    you fit to the program. Once you have been accepted you can
                    start for the next design cohort.</p>
            </section>

            <hr />

            <section class="accordeon">
                <div class="accordeon-with-icon">
                    <h3>What are the costs for a design bootcamp?</h3>
                    <img
                        class="arrow-icon"
                        src="/images/arrow.svg"
                        alt="arrow-icon"
                    />
                </div>
                <p class="faq-answer">We are not yet able to provide details
                    about the exact costs of our design bootcamp. However, there
                    will be different financing options. Under certain
                    circumstances, you can apply for a scholarship, pay off the
                    costs in installments or apply for an education voucher at
                    the employment office.</p>
            </section>

        </div>

    </body>

</html>