<html lang="en">

    <head>
        <link rel="stylesheet" href="/styling/imprint.style.css" />
    </head>

    <body>

        <div id="imprint">

            <h2>Imprint</h2>

            <p><i>The website was created in Germany. For this reason, the legal
                    requirements there apply.</i>
                <br />
                <br />
                <b>© 2021</b>
                <br />
                Michèle Rietzl
                <br />
                <br />
                <b>Copyright</b>
                <br />
                Alle Rechte vorbehalten. Diese Website oder Teile dieser Website
                dürfen nicht ohne die schriftliche Genehmigung der Gestalterin
                bzw. Autorin vervielfältigt, in anderen Datenbanken gespeichert
                oder in irgendeiner Form übertragen werden.
                <br />
                <br />
                <b>Konzeption, Text, Gestaltung und Webentwicklung</b>
                <br />
                Michèle Rietzl, ein Projekt an der SPICED Academy (Full Stack
                Web Development)
                <br />
                <br />
                <b>Datenschutz</b>
                <br />
                Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen
                Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten
                vertraulich und entsprechend der gesetzlichen
                Datenschutzvorschriften sowie dieser Datenschutzerklärung. Wenn
                Sie auf diese Webseite zugreifen werden automatisch
                Informationen allgemeiner Natur erfasst. Diese Informationen
                werden im Server-Logfile erfasst und beinhalten die Art des
                Webbrowsers, das verwendete Betriebssystem, den Domain-Namen
                Ihres Internet-Service-Providers, Ihre IP-Adresse und ähnliches.
                Dies aus folgendem Grund: (1) Zur Sicherstellung eines
                problemlosen Verbindungsaufbaus der Website, (2) zur
                Sicherstellung einer reibungslosen Nutzung unserer Website, (3)
                zur Auswertung der Systemsicherheit und -stabilität sowie (4) zu
                weiteren administrativen Zwecken. Ihre Daten werden nicht
                verwendet, um Rückschlüsse auf Ihre Person zu ziehen.
                Informationen dieser Art werden lediglich statistisch
                ausgewertet, um unseren Internetauftritt und die
                dahinterstehende Technik zu optimieren. Wir weisen darauf hin,
                dass die Datenübertragung im Internet Sicherheitslücken
                aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                durch Dritte ist nicht möglich. Die Daten werden gelöscht,
                sobald diese für den Zweck der Erhebung nicht mehr erforderlich
                sind. Sie haben im Rahmen der geltenden gesetzlichen
                Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft
                über Ihre gespeicherten personenbezogenen Daten, deren Herkunft
                und Empfänger und den Zweck der Datenverarbeitung und ggf. ein
                Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie
                zu weiteren Fragen zum Thema personenbezogene Daten können Sie
                sich jederzeit an uns wenden.
                <br />
                <br />
                <b>Cookies</b>
                <br />
                Unsere Internetseiten verwenden so genannte „Cookies“. Cookies
                sind kleine Textdateien und richten auf Ihrem Endgerät keinen
                Schaden an. Sie werden entweder vorübergehend für die Dauer
                einer Sitzung (Session-Cookies) oder dauerhaft (permanente
                Cookies) auf Ihrem Endgerät gespeichert. Session-Cookies werden
                nach Ende Ihres Besuchs automatisch gelöscht. Permanente Cookies
                bleiben auf Ihrem Endgerät gespeichert, bis Sie diese selbst
                löschen oder eine automatische Löschung durch Ihren Webbrowser
                erfolgt. Teilweise können auch Cookies von Drittunternehmen auf
                Ihrem Endgerät gespeichert werden, wenn Sie unsere Seite
                betreten (Third-Party-Cookies). Diese ermöglichen uns oder Ihnen
                die Nutzung bestimmter Dienstleistungen des Drittunternehmens
                (z.B. Cookies zur Abwicklung von Zahlungsdienstleistungen).
                Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind
                technisch notwendig, da bestimmte Websitefunktionen ohne diese
                nicht funktionieren würden (z.B. die Warenkorbfunktion oder die
                Anzeige von Videos). Andere Cookies dienen dazu, das
                Nutzerverhalten auszuwerten oder Werbung anzuzeigen. Cookies,
                die zur Durchführung des elektronischen Kommunikationsvorgangs
                (notwendige Cookies) oder zur Bereitstellung bestimmter, von
                Ihnen erwünschter Funktionen (funktionale Cookies, z. B. für die
                Warenkorbfunktion) oder zur Optimierung der Website (z.B.
                Cookies zur Messung des Webpublikums) erforderlich sind, werden
                auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern
                keine andere Rechtsgrundlage angegeben wird. Der
                Websitebetreiber hat ein berechtigtes Interesse an der
                Speicherung von Cookies zur technisch fehlerfreien und
                optimierten Bereitstellung seiner Dienste. Sofern eine
                Einwilligung zur Speicherung von Cookies abgefragt wurde,
                erfolgt die Speicherung der betreffenden Cookies ausschließlich
                auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO);
                die Einwilligung ist jederzeit widerrufbar. Sie können Ihren
                Browser so einstellen, dass Sie über das Setzen von Cookies
                informiert werden und Cookies nur im Einzelfall erlauben, die
                Annahme von Cookies für bestimmte Fälle oder generell
                ausschließen sowie das automatische Löschen der Cookies beim
                Schließen des Browsers aktivieren. Bei der Deaktivierung von
                Cookies kann die Funktionalität dieser Website eingeschränkt
                sein.
                <br />
                <br />
                <b>Hinweis zur verantwortlichen Stelle</b>
                <br />
                Verantwortliche Stelle im Sinne der Datenschutzgesetze,
                insbesondere der EU-Datenschutzgrundverordnung (DSGVO), lautet:
                Michèle Rietzl
                <br />
                <br />
                <b>Änderungen</b>
                <br />
                Änderungen Wir können diese Datenschutzerklärung jederzeit ohne
                Vorankündigung anpassen. Es gilt die jeweils aktuelle, auf
                unserer Website publizierte Fassung.
                <br />
                <br />
                Stuttgart, 07.01.2022
                <br />
                <br />
                Quelle:
                <a
                    href="https://www.e-recht24.de/muster-datenschutzerklaerung.html"
                    target="_blank"
                >
                    <u>
                        https://www.e-recht24.de/muster-datenschutzerklaerung.html</u></a>
            </p>

        </div>

    </body>

</html>